body{
  margin: 0;
}
h1{
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
}
.name-highlight{
    color: olivedrab;
}
p{
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2;
    float: left;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url('Backgorund image/top-banner.png');
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
}
h2{
    font-size: 45px;
}
.dream-area{
    background-image: url("backgorund image/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}